.footer{
    background: var(--main-color);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    margin-top: 30px;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: #ccc;
    padding: 1rem 0;
}

.footer .box-container .box i{
    font-size: 3rem;
    line-height: 2;
    color: var(--primary-color);
    padding: .5rem 0;
    display: block;
}

.footer .box-container .box .link{
    font-size: 1.7rem;
    line-height: 2;
    color: var(--primary-color);
    padding: .5rem 0;
    display: block;
}

.footer .box-container .box .link:hover{
    color: #ffaa42;
    text-decoration: underline;
}

.footer .credit{
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    border-top: 0.1rem solid var(--primary-color);
}

.footer .credit span{
    color: var(--primary-color);
}

.insta{
    color: var(--primary-color);
}

.insta:hover{
    text-decoration: underline;
}