.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 5rem;
    border: var(--border);
    text-align: center;
    background-color: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .btn-menu{
    background: #fecd03;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 1rem;
}

.btn-menu:hover{
    letter-spacing: 0.1rem;
}

.menu .box-container .box:hover{
    background-color: var(--primary-color);
}

.menu .box-container .box:hover > *{
    color: var(--black);
}